<template>
    <div class="checkout">
        <v-bottom-sheet v-model="sheet" inset>
            <v-sheet class="text-center" height="200px">
                <v-btn class="mt-6" text color="success" @click="sheet = !sheet">Done</v-btn>
                <div class="my-3">
                    Successfully confirm order, you will receive an email soon.
                </div>
            </v-sheet>
        </v-bottom-sheet>
        <div v-if="getCartItems.length" class="headline pa-4">
            <p> {{getCartItems.length}} Items in cart</p>
            <p>$ {{ getSum }}</p>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="primary" dark v-bind="attrs" v-on="on">Checkout
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Checkout form</span>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="form">
                            <v-row>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field :rules="rules" label="First name*" required></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field :rules="rules" label="Last name*" required></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field :rules="emailRules" label="Email*" required></v-text-field>
                                </v-col>
                                <v-checkbox v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" label="Do you agree with terms and conditions?" required
                                ></v-checkbox>
                            </v-row>
                        </v-form>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="cancelOrder">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="confirmOrder">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <div v-else class="headline pa-4">
            There are no items in cart
        </div>

        <div class="content pl-16 pr-16">
            <v-card v-for="(item,index) in getCartItems" :key="index" class="ma-2" max-width="500">
                <v-list-item>
                    <v-list-item-content>
                        <div class="mt-2 red--text mb-4">
                            ${{ item.price }}
                        </div>
                        <v-list-item-title>
                            {{ item.name }}
                        </v-list-item-title>
                        <div class="mt-2">{{ item.description }}</div>
                    </v-list-item-content>
                    <v-list-item-avatar tile size="100">
                        <v-img contain="" :src="item.image"></v-img>
                    </v-list-item-avatar>
                </v-list-item>
                <div class="pl-2">
                    <v-chip @click="reviewItem(index)" class="ma-2" color="primary">
                        Review
                    </v-chip>

                    <v-chip @click="removeFromCart(index)" class="ma-2" color="red" text-color="white">
                        Remove from cart
                    </v-chip>
                </div>
            </v-card>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Checkout.vue",
        data: () => {
            return {
                dialog: false,
                sheet: false,
                checkbox: false,
                rules: [
                    value => !!value || 'Required.',
                    value => (value && value.length >= 3) || 'Min 3 characters',
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
            }
        },
        methods: {
            removeFromCart(index) {
                console.log('remove ', index);
                this.$store.dispatch('removeItemFromCartByIndex', index)
            },
            reviewItem() {
                console.log('review');
            },
            confirmOrder() {
                if (this.$refs.form.validate()) {
                    this.dialog = false;
                    this.sheet = true;
                    this.$store.dispatch('clearCart');
                }
            },
            cancelOrder() {
                this.dialog = false;
            }
        },
        computed: {
            getCartItems() {
                return this.$store.getters.getCartItems
            },
            getSum() {
                let sum = 0;
                this.$store.getters.getCartItems.forEach((item) => {
                    sum += item.price;
                });
                return sum.toFixed(2);
            }
        }
    }

</script>

<style lang="scss" scoped>
    .headline {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
