<template>
    <div class="home">
        <div class="heading ml-12 mr-12">
            <div class="left-side">
                <v-list class="menu-item-list" dark>
                    <v-list-item v-for="(filter,index) in filters" @click="search(filter)" :key="index">
                        {{ filter.description }}
                    </v-list-item>
                </v-list>
            </div>
            <div class="right-side">
                <v-carousel class="images-carousel">
                    <v-carousel-item
                            v-for="(image,i) in images"
                            :key="i"
                            :src="image"
                    ></v-carousel-item>
                </v-carousel>
            </div>
        </div>
        <div class="offers-list">
            <div class="title pa-4">
                <p>Checkout our top picks</p>
                <div class="hits">
                    <hit-card-component v-for="(hit,index) in getHits" :name="hit.name" :key="index"
                                        :index="index" :price="hit.price" :image="hit.image"
                                        :description="hit.description" @add="addToCart(index)"></hit-card-component>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import HitCardComponent from '../components/HitCardComponent'

    export default {
        name: 'Home',
        components: {
            HitCardComponent
        },
        computed: {
            getHits() {
                return this.$store.getters.getHomeHits
            }
        },
        watch: {
            getHits(newVal) {
                console.log(newVal)
            }
        },
        data: () => ({
            filters: [{
                text: 'Apple',
                category: 'All Cell Phones with Plans',
                description: 'Apple Phones'
            },
                {
                    text: 'Samsung',
                    category: 'All Cell Phones with Plans',
                    description: 'Samsung Phones'
                },
                {
                    text: 'Apple',
                    category: 'Cell Phone Cases & Clips',
                    description: 'Apple phone cases'
                },
                {
                    text: 'Samsung',
                    category: 'Cell Phone Cases & Clips',
                    description: 'Samsung phone cases'
                },
                {
                    text: 'holder',
                    category: 'Cell Phone Accessories',
                    description: 'Phone holders',
                },
                {
                    text: 'audio',
                    category: 'Data Cables',
                    description: 'Audio Cables',

                }],
            images: [
                'https://miro.medium.com/max/3000/1*sZh9GCJXpoZ0Vog-OIvYhg.jpeg',
                'https://www.cnet.com/a/img/5e6qKpgfihBe-CeYhYcoMBPsOuo=/1200x630/2017/03/31/ffc61ff8-783f-4b28-8fbd-2cd5113c0eee/samsung-galaxy-s8-historia-cnet-garzon.jpg',
                'https://cdn.thewirecutter.com/wp-content/media/2021/01/iphonecases2020-2048px-9308-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024',
                'https://img.grouponcdn.com/deal/3rhSCP1dXbraSw5XHrXMpeQZnbnz/3r-1000x600/v1/t600x362.jpg',

            ]
        }),
        methods: {
            search(item) {
                if (!item.category) {
                    this.$router.push({name: 'Search', query: {criteria: item.text}})
                } else {
                    this.$router.push({name: 'Search', query: {criteria: item.text, category: item.category}})
                }

            },
            addToCart(index) {
                this.$store.dispatch('addToCart', this.getHits[index]);
            }
        }
    }
</script>
<style lang="scss">
    .home {
        height: 100%;

    }

    .heading {
        display: flex;
        height: 45vh;

        .left-side {
            width: 30%;

            .menu-item-list {
                height: 100%;
                background-color: #51a0d9;

            }
        }

        .right-side {
            width: 70%;
            .images-carousel{
                height: 100% !important;
            }
        }

        .image {
            height: 100%;
        }

    }

    .title {
        text-align: center;
    }

    .hits {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
</style>
