<template>
    <div class="search">
        <div class="top-heading">
            <div class="select-wrapper">
                <v-select :items="getOrder"
                          solo
                          hide-selected
                          v-model="selectedOrder"
                ></v-select>
            </div>
            <div class="pagination-wrapper">
                <v-pagination
                        color="#51a0d9"
                        circle
                        v-model="page"
                        :length="+(getHitsLength/30).toFixed() === 0 ? 1 : +(getHitsLength/30).toFixed()"
                ></v-pagination>
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="pl-4 pt-4">
                    <p class="headline">Price:</p>
                    <v-chip-group @change="filterByPrice" active-class="primary-text" column>
                        <v-chip v-for="(price,index) in prices" :key="index" filter text-color="white" color="#51a0d9">
                            {{ price.text }}
                        </v-chip>
                    </v-chip-group>
                </div>
            </div>
            <div v-if="getHitsToShow && getHitsToShow.length" class="right-side">
                <hit-card-component v-for="(hit,index) in getHitsToShow" :name="hit.name" :key="index"
                                    :index="index" :price="hit.price" :image="hit.image"
                                    :description="hit.description" @add="addToCart(index)"></hit-card-component>

            </div>
            <div v-else>There are no results</div>
        </div>
    </div>


</template>

<script>
    import HitCardComponent from '../components/HitCardComponent'

    export default {
        name: "Search.vue",
        components: {
            HitCardComponent
        },
        data() {
            return {
                prices: [
                    {
                        text: '1-99',
                        min: 1,
                        max: 99,
                    },
                    {
                        text: '100-199',
                        min: 100,
                        max: 199,
                    },
                    {
                        text: '200-299',
                        min: 200,
                        max: 299,
                    },
                    {
                        text: '300-399',
                        min: 300,
                        max: 399,
                    },
                    {
                        text: '400-499',
                        min: 400,
                        max: 499,
                    },
                    {
                        text: '500-599',
                        min: 500,
                        max: 599,
                    },
                    {
                        text: '600-699',
                        min: 600,
                        max: 699,
                    },
                    {
                        text: '700-799',
                        min: 700,
                        max: 799,
                    }, {
                        text: '800-1099',
                        min: 800,
                        max: 1099,
                    },
                    {
                        text: 'All',
                        min: 1,
                        max: 99999,
                    },
                ],
                minPrice: 1,
                maxPrice: 9999,
                selectedOrder: 'Price High-Low',
                page: 1,

            }
        },
        computed: {
            getHitsToShow() {
                let hits = this.$store.getters.getSearchResults.filter((hit) => {
                    return hit.price >= this.minPrice && hit.price <= this.maxPrice
                });
                if (this.selectedOrder === 'Price High-Low') {
                    hits.sort((a, b) => {
                        return b.price - a.price
                    });
                } else if (this.selectedOrder === 'Price Low-High') {
                    hits.sort((a, b) => {
                        return a.price - b.price
                    });
                } else if (this.selectedOrder === 'Price Low-High') {
                    hits.sort((a, b) => {
                        return b.popularity - a.popularity
                    });
                } else if (this.selectedOrder === 'Alphabetical A-Z') {
                    hits.sort((a, b) => {
                        return a.name.toLowerCase().localeCompare(b.name.toLowerCase())
                    });
                } else if (this.selectedOrder === 'Alphabetical Z-A') {
                    hits.sort((a, b) => {
                        return b.name.toLowerCase().localeCompare(a.name.toLowerCase())
                    });
                }
                return hits.splice((this.page -1) * 30,30);
            },
            getHitsLength(){
                return this.$store.getters.getSearchResults ? this.$store.getters.getSearchResults.filter((hit) => hit.price >= this.minPrice && hit.price <= this.maxPrice).length : 0;
            },
            getOrder() {
                return [
                    'Price High-Low',
                    'Price Low-High',
                    'Popularity',
                    'Alphabetical A-Z',
                    'Alphabetical Z-A'
                ]
            }
        },
        watch: {
            $route: {
                deep: true,
                immediate: true,
                handler(newVal) {
                    console.log(newVal);
                    if (newVal.query.criteria && !newVal.query.category) {
                        this.$store.dispatch('search', newVal.query.criteria);
                    } else if (newVal.query.criteria && newVal.query.category) {
                        this.$store.dispatch('searchWithCategory', {
                            brand: newVal.query.criteria,
                            category: newVal.query.category
                        });
                    } else {
                        this.$store.dispatch('search', '');
                    }
                }
            },
        },
        methods: {
            addToCart(index) {
                this.$store.dispatch('addToCart', this.getHits[index]);
            },
            filterByPrice(e) {
                console.log(e);
                if (typeof e !== 'undefined') {
                    this.minPrice = this.prices[e].min;
                    this.maxPrice = this.prices[e].max;
                } else {
                    this.minPrice = 0;
                    this.maxPrice = 9999;
                }
                this.page = 1;
            },
        },
        async mounted() {

        }
    }
</script>

<style lang="scss" scoped>
    .top-heading {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .select-wrapper {
            width: 30%;
        }
        .pagination-wrapper {
            width: 80%;
        }
    }

    .wrapper {
        display: flex;

        .left-side {
            width: 20%;
        }

        .right-side {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
</style>
