<template>
    <v-card class="ma-4" max-width="350">
        <v-img  contain
                height="200"
                :src="image">
            <template slot="placeholder">
                <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                >
                    <v-progress-circular
                            indeterminate
                            color="red"
                    ></v-progress-circular>
                </v-row>
            </template>
        </v-img>
        <v-card-title >{{ name }}</v-card-title>
        <v-card-text>
            <div>{{ description }}</div>
        </v-card-text>
        <div class="ml-5 mb-5 display-1 red--text">${{ price }} <v-btn @click="addToCardClicked" class="mr-5 float-right"> Add to cart</v-btn></div>
    </v-card>
</template>

<script>
    export default {
        name: "HitCardComponent.vue",
        props: {
            image: String,
            name: String,
            description: String,
            price: Number,
            index: Number
        },
        methods: {
            addToCardClicked(){
                this.$emit('add',this.index)
            }
        }
    }
</script>

<style scoped>

</style>