<template>
  <v-app>
    <v-app-bar
      app
      color="#51a0d9"
      dark>
      <v-img height="60" contain src="../public/assets/drawable-xxxhdpi-icon.png"
      ></v-img>
      <v-spacer></v-spacer>
      <v-text-field class="pt-5" v-model="searchCriteria" clearable placeholder="Search here" @keydown.enter="search"> </v-text-field>
      <v-btn @click="search">
        <v-icon >mdi-magnify</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
        <v-tab @click="home">Home</v-tab>
<!--        <v-tab @click="about">About</v-tab>-->
        <v-tab @click="checkout">Checkout</v-tab>
      <v-spacer></v-spacer>
      <v-btn @click="checkout"><v-icon>mdi-cart</v-icon><v-badge v-if="getCartItems.length" color="#ff0000" :content="getCartItems.length"></v-badge></v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    searchCriteria: ''
  }),
  computed: {
    getCartItems(){
      return this.$store.getters.getCartItems
    }
  },
  created(){
    this.$store.dispatch('getHits');
  },
  methods: {
    search() {
      this.$router.push({name: 'Search', query: {criteria: this.searchCriteria}})
    },
    checkout(){
      this.$router.push({name: 'Checkout'});
    },
    home(){
      this.$router.push({name:'Home'})
    },
    about(){
      this.$router.push({name:'About'})
    }
  }
};
</script>
